<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-info" href="app">Home</a>
      <a class="p-2 text-info" href="shuvits">Shuv-its</a>
      <a class="p-2 text-info" href="ollie">Ollies</a>
      <a class="p-2 text-info" href="frontside">Frontside 180's</a>
      <a class="p-2 text-info" href="backside">Backside 180's</a>
      <a class="p-2 text-info" href="popshove">Pop Shove-its</a>
      <a class="p-2 text-info" href="kickflip">Kickflips</a>
      <a class="p-2 text-info" href="heelflip">Heelflips</a>
      <a class="p-2 text-info" href="varial">Varial Flips</a>
      <a class="p-2 text-info" href="boardslide">Boardslides</a>
      <a class="p-2 text-info" href="50s50s">50-50's</a>
    </nav>
</div>
