<!doctype html>
<html lang="en">
  <%- include('../partials/head'); -%>
  <body>
    <div class="container">
  
     <%- include('../partials/header'); -%>

  <%- include('../partials/navigation'); -%>
  
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-primary">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Ollies</h1>
      <p class="lead my-3">My Ollie Progress So Far!</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"></a></p>
    </div>
  </div>

  <!--<div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">Shuv-its</strong>
          <h3 class="mb-0 text-primary">What I've learned: </h3>
          <div class="mb-1 text-muted">June 9</div>
          <p class="card-text mb-auto">Most likely got a consistent stationary Shuv-it. Just needed one quick fix in technique to nail it.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>-->
    <!--<div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">Ollies</strong>
          <h3 class="mb-0 text-primary">What I've learned:</h3>
          <div class="mb-1 text-muted">June 9</div>
          <p class="mb-auto">Still working on those moving Ollies. Here are some things I learned.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>
</div>-->

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom text-info">
        Coming soon! 
      </h3>

      <!--<div class="blog-post">
        <h2 class="blog-post-title text-primary">Week 6/8/20 - 6/15/20 - </h2>
        <p class="blog-post-meta">June 16, 2020 by <a href="#"> Trisha</a></p>

        <p>This blog post shows this week's overall progress in my tricks and what mistakes I was making. Hopefully by talking about my mistakes I can figure out how to adjust my technique.</p>
        <hr>
        <h4>Overall Progress this Week</h4>
        <p>This week I focused a lot more on getting my stationary Shuv-its down on concrete with no assistance. I also realized that I need to work on moving Ollies with no obstacles this week, to get the technique down thoroughly.</p>
        <h4>Ollies</h4>
        <p>This week I focused on moving ollies with no obstacles in front of me to jump over.</p>
        <pre><code></code></pre>
        <p>During my skill assignment for English, I had directed my focus to ollying over things compared to really getting the technique down. I noticed that in the previous videos I had recorded, a lot of my ollies (especially the ones over higher obstacles) weren't leveling out like I wanted them to. There was a lot of pop in them, and that huge amount of pop allowed them to somehow get over the object. I hate rocket ollies (ones with too much pop where it's almost like the board is just rocketing up) and so this week I wanted to focus on just getting a simple moving ollie down. I mostly went at a super slow speed and accentuated the slide of my board and the lifting of my back foot. This didn't really help much. I asked my skate coach whether I should keep practicing non-obstacle ollies or keep trying to jump over things. He said that I should do ollies over obstacles, because that subconciously encourages leveling out and height. Pop can only take you so high right? Eventually I would have to learn to level the board out more. I finished this week holding my sister's hands and trying to do a stationary ollie onto a curb. I made one of them and it felt like really good. At least I know I can ollie curb height, right? </p>
        <h4>Shuv-its</h4>
        <p>This week I worked the hardest on my stationary Shuv-its. However, I did it on bare road instead of in my garage holding the trash can for support. I first committed with one foot and then forced myself to jump with two. It took about three days to finally a decent one. Some tips I learned which helped me get more consistent ones were: </p>
        <ul>
          <li>Angle my front foot slightly to the right, and move it farther up the board toward the upper bolts.</li>
          <li>Lean forward on the trucks before jumping.</li>
          <li>Almost always keep my front foot on the board throughout the entire flip</li>
        </ul>
        <p>Some mistakes I was making:</p>
        <ol>
          <li>My front foot was too close to my back foot on the board, so it was hard to catch the board at the end of the flip.</li>
          <li>I would flick my foot too hard and too fast sometimes, which either made the board pop or flip far away from me.</li>
          <li>Don't take the front foot off too much on the jump, or jump too far up. Also, jump forward more so more of the foot lands on the board (a lot of the times only the balls of my feet would land).</li>
        </ol>
        <p>By fixing my mistakes I was able to get a somewhat consistent Shuv-it this week.</p>
      </div><!-- /.blog-post -->


      <!--<nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>-->

    </div><!-- /.blog-main -->

    <!--<aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic text-info">About</h4>
        <p class="mb-0">Hi, I'm Trisha and I'm 17 years old. I've been skating on and off for a couple years now, but I think I want to really advance in tricks this summer. I love skating because it allows me to take a break from my problems and direct my focus on learning a trick. Because everyone knows that there's no better feeling than landing with two feet on the board after practicing for so long.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic text-info" >Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#" class=text-primary>June 2020</a></li>

        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic text-info">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#" class=text-primary>GitHub</a></li>
          <li><a href="#" class=text-primary>Twitter</a></li>
          <li><a href="#" class=text-primary></a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

 <%- include('../partials/footer'); -%>
</body>
</html>
